{% extends "base.html" %}
{% load custom_tags %}
{% load humanize %}

{% block header_ref %}
    {#    <script src="https://telegram.org/js/telegram-web-app.js"></script>#}
{% endblock %}

{% block content %}
    <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
        <div class="main__inner pt-0">

            <div class="flex justify-center" uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
                <img src="{% versioned_static "images/base.jpg" %}" alt="" class="w-auto shrink-0 bg-fuchsia-100 rounded-2xl uk-scrollspy-inview"
                     style="width: 180px">
            </div>

            <div class="level-box">
                <h4 class="font-bold">Follow Us</h4>
            </div>

            <div class="all-socials">
                {% for social in socials %}
                    <a href="#" onclick="open_link('{{ social.link }}')">
                        <img src="{{ social.logo.url }}" alt="{{ social.social_name }}" class="social-logo">
                    </a>
                {% endfor %}
            </div>

            <div class="mt-10">

                <!-- sticky tabs -->
                <div uk-sticky="cls-active: bg-slate-100/60 z-30 backdrop-blur-lg px-4 dark:bg-slate-800/60; start: 500; animation: uk-animation-slide-top"
                     class="uk-sticky">

                    <nav class="text-sm text-center text-gray-500 capitalize font-semibold dark:text-white">
                        <ul class="flex gap-2 justify-center border-t dark:border-slate-700"
                            uk-switcher="connect: #story_tab ; animation: uk-animation-fade, uk-animation-slide-left-medium">

                            <li class="uk-active"><a href="#"
                                                     class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"
                                                     aria-expanded="false">
                                <ion-icon class="mr-2 text-2xl" name="camera-outline"></ion-icon>
                                About us </a></li>
                            <li class="uk-active"><a href="#"
                                                     class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"
                                                     aria-expanded="false">
                                <ion-icon class="mr-2 text-2xl" name="camera-outline"></ion-icon>
                                Policy </a></li>
                        </ul>
                    </nav>

                </div>
                <div class="uk-sticky-placeholder" hidden="" style="height: 41.4px; width: 682.2px; margin: 0px;"></div>


                <div id="story_tab" class="uk-switcher mb-20" style="touch-action: pan-y pinch-zoom;">

                    <!-- Post list -->
                    <div class="uk-active" style="">

                        <p>Welcome to <span class="font-extrabold">Duel Back</span>, where exciting competitions await you! At Duel Back, we offer a
                            unique platform for head-to-head
                            games, providing a different experience in the world of online gaming. Here, users can directly compete against each
                            other and enhance their skills to reach higher levels.
                            <br>
                            <br>
                            Currently, <span class="font-extrabold">Duel Back</span> offers two popular and challenging games: backgammon and Sudoku,
                            perfect for fans of strategic
                            and brain-teasing games. Our aim is to introduce a new and exciting game to our lineup every month, ensuring a world
                            of diversity and choices for our users.
                            <br>
                            <br>
                            What makes <span class="font-extrabold">Duel Back</span> special is that, in addition to enjoying the games, users can win
                            bet prizes through two-player
                            challenges. This feature adds an extra layer of excitement and motivation to every game.
                            <br>
                            <br>
                            We are committed to transparency and security in all our interactions and strive to create a safe and trustworthy
                            environment for all players. Our support team is always ready to answer your questions and meet your needs.
                            <br>
                            <br>
                            Learn more about <span class="font-extrabold">Duel Back</span> and join us on this exciting journey. Are you ready to
                            challenge your intellect and win
                            great prizes? Come and meet new friends and rivals!</p>

                    </div>

                    <div>
                        <p>
                            Comprehensive Rules and Policies of the Backgammon Betting Platform Introduction.
                            <br>
                            Welcome to the Duelback Betting Platform. We are committed to providing a secure, fair, and transparent environment for
                            all users. These rules and policies are designed to ensure an enjoyable and worry-free experience for users. By
                            registering and using this platform, users agree to adhere to all provisions outlined in this document.
                            <br>
                            <br>
                            <span class="font-extrabold">1. Age Requirement and Registration</span><br>
                            - Age Requirement: Users must be at least 18 years old to participate in the games. Participation of individuals below the
                            legal age is prohibited and their accounts will be immediately suspended.
                            <br>
                            <br>
                            - Identity Verification: To prevent abuse and ensure security, all users must complete the identity verification process.
                            <br>
                            <br>
                            - Registration information must be complete, accurate, and aligned with the individual's true identity.
                            <br>
                            <br>
                            <span class="font-extrabold">2. Game Start and Turn Timing</span><br>
                            - Dice Roll and Player Start Determination: The game begins with a dice roll, and the player with the higher number
                            starts. This process is conducted automatically by the platform.
                            <br>
                            <br>
                            - Turn Time Limit: Each player has a maximum of 30 seconds to make their move. If the player fails to move within this
                            time, the move point is transferred to the opponent.
                            <br>
                            <br>
                            <span class="font-extrabold">3. Entry Fees and Reward Distribution</span><br>
                            - Game Entry Fee: Each player must pay a specified entry fee, which is added to the game prize pool. The entry fee varies
                            based on the type of game and competition level and is announced on the game page.
                            <br>
                            <br>
                            - Payments are made with Tron tokens on the TRC20 blockchain.
                            <br>
                            <br>
                            - Reward Distribution: Rewards are automatically and transparently transferred to the winner's account within 24 hours
                            after the game ends.
                            <br>
                            <br>
                            - 90% of the prize goes to the winner, 8% to the platform, and 1% to referrals.
                            <br>
                            <br>
                            <span class="font-extrabold">4. Payment Guarantee and Financial Security</span><br>
                            - Payment Guarantee: The platform is committed to promptly and transparently paying prizes to winners. Payments are
                            usually credited to user accounts within 24 hours.
                            <br>
                            <br>
                            - Financial Storage and Security: All transactions are conducted through secure gateways, and users' financial information
                            is kept strictly confidential.
                            <br>
                            <br>
                            <span class="font-extrabold">5. Disconnection Rules and Emergency Exit</span><br>
                            - Fair Game Maintenance: In the event of an unexpected internet disconnection or emergency exit, the opposing player is
                            considered the winner, receiving 70% of the prize, 28% goes to the platform, and 1% to referrals.
                            <br>
                            <br>
                            - Game Cancellation Policies: If a game is canceled due to platform technical issues, all entry fees will be refunded to
                            the users' accounts.
                            <br>
                            <br>
                            <span class="font-extrabold">6. Sportsmanship and Respect Rules</span><br>
                            - Mutual Respect: Users must observe etiquette and respect in their communications. Insults, threats, or any inappropriate
                            behavior will result in account suspension.
                            <br>
                            <br>
                            - Warnings and Penalties: Users will receive a warning for any disrespectful behavior, and repeated offenses may result in
                            account suspension.
                            <br>
                            <br>
                            <span class="font-extrabold">7. Monitoring and Fraud Prevention</span><br>
                            - Fraud Control and Detection: Using AI and advanced algorithms, any suspicious behavior or attempt at fraud is detected.
                            <br>
                            <br>
                            - Blocking and Penalizing Offenders: Offending users will be permanently or temporarily banned from accessing the
                            platform. The platform reserves the right to block a user's account balance pending investigation in case of fraud
                            detection.
                            <br>
                            <br>
                            <span class="font-extrabold">8. Penalty and Account Suspension Policy</span><br>
                            - Penalty for Offending Users: Any illegal activity, such as fraud or use of multiple accounts, will result in a penalty
                            and permanent account suspension.
                            <br>
                            <br>
                            - Grievance Process: Upon detecting a violation, the user's account will be suspended and their account balance reviewed.
                            <br>
                            <br>
                            Refunds will only be issued upon confirmation of no fraud.
                            <br>
                             <span class="font-extrabold">9. Special Rewards and Incentives</span><br>
                            <br>
                            <br>
                            - Friend Invitation Rewards: Players can earn special points by inviting friends to play.
                            <br>
                            <br>
                            - Daily Games and Loyalty Rewards: Users who play daily earn loyalty rewards or additional points.
                            <br>
                            <br>
                            - Monthly Ranking and Prizes: Special competitions and cash prizes are offered for top players each month.
                            <br>
                            <br>
                            <span class="font-extrabold">10. Customer Support and Services</span><br>
                            - 24/7 Online Support: Users can access online support 24/7 in case of issues.
                            <br>
                            <br>
                            - Guidance and Technical Issue Resolution: The support team promptly and effectively resolves users' technical issues.
                            <br>
                            <br>
                            <span class="font-extrabold">11. Dispute Resolution and Arbitration</span><br>
                            - Dispute Resolution Process: In the event of a dispute between players, the player can submit a ticket for support to
                            resolve the issue as quickly as possible.
                            <br>
                            <br>
                            - Arbitration Decision: The arbitration team's decision is final and binding, and all users must comply.
                            <br>
                            <br>
                            <span class="font-extrabold">Final Terms and Conditions</span><br>
                            These rules and policies are designed to ensure the security, fairness, and enjoyment of the gaming experience. The
                            platform reserves the right to change or update rules with prior notice. By continuing to use the services, users
                            automatically accept the new rules.

                        </p>
                    </div>

                </div>

            </div>


        </div>

    </main>
    </div>
    <script>
        function open_link(link) {
            if (window.Telegram && window.Telegram.WebApp) {
                window.Telegram.WebApp.openLink(link.toString());
            }
        }
    </script>
{% endblock %}

