{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center mt-4 mb-2">
            <h1 class="text-white" style="font-weight: 700;font-size: 20vw">500</h1>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-2">
            <h1 class="text-white">Internal Server Error</h1>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-2">
            <h1 class="text-white" style="text-align: center;font-size: 4vw;">Refresh the mini app or try again
                later</h1>
        </div>
    </div>
{% endblock %}