{% extends "base.html" %}
{% load custom_tags %}


{% block content %}
    <div id="wrapper">
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
            <div class="main__inner" style="padding-top: 0">

                <div class="level-box">
                    <p><i class="fa-solid fa-star text-yellow-400"></i> <span>{{ pool_fill }}</span>/<span>{{ pool_lvl }}</span></p>
                    <div class="w-full flex items-center justify-center">
                        <p class="font-bold mr-1">{{ current_lvl }}</p>
                        <div class="w-2/3 bg-yellow-500 rounded-full dark:bg-gray-700">
                            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center leading-none rounded-full"
                                 style="width: {{ bar_percent }}%">
                                {{ bar_percent }}%
                            </div>
                        </div>
                        <p class="font-bold ml-1">{{ next_lvl }}</p>
                    </div>

                </div>

                <div class="level-box">
                    <h4>Game History</h4>
                </div>

                <div>
                    <div uk-sticky="cls-active: bg-slate-100/60 z-30 backdrop-blur-lg px-4 dark:bg-slate-800/60; start: 500; animation: uk-animation-slide-top"
                         class="uk-sticky">

                        <nav class="text-sm text-center text-gray-500 capitalize font-semibold dark:text-white">
                            <ul class="flex gap-2 justify-center border-t dark:border-slate-700"
                                uk-switcher="connect: #backgammon_tap ; animation: uk-animation-fade, uk-animation-slide-left-medium">

                                <li class="uk-active">
                                    <a href="#"
                                       class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"
                                       aria-expanded="true">
                                        Backgammon
                                    </a>
                                </li>

                            </ul>
                        </nav>

                    </div>

                    <div class="uk-sticky-placeholder" hidden="" style="height: 41.4px; width: 895px; margin: 0px;"></div>

                    <div id="backgammon_tap">

                        <div class="match-details-box">
                            <div>
                                <p>Total Match</p>
                                <p class="text-center font-extrabold"><i class="fa-solid fa-dice"></i> {{ total_back_matches }}</p>
                            </div>
                            <div>
                                <p>Total Winnings</p>
                                <p class="text-center font-extrabold"><i class="fa-solid fa-trophy"></i> {{ total_back_wins }}</p>
                            </div>
                        </div>

                        <div class="match-list">
                            {% for game in back_game_history reversed %}
                                <div class="matches {% if game.status == "win" %}win-bg{% else %}lose-bg{% endif %}">
                                    <div class="inline-pic-my">
                                        {% if game.user1.avatar is None %}
                                            <img src="{% versioned_static "images/profile-default.jpg" %}" alt=""
                                                 class="bg-gray-200 match-pic ml-2 mr-2">
                                        {% else %}
                                            <img src="{{ game.user1.avatar }}" alt="" class="bg-gray-200 match-pic ml-2 mr-2">
                                        {% endif %}

                                        <h4 class="font-semibold text-sm text-black dark:text-white text-left">{{ game.user1.name }}</h4>
                                    </div>

                                    <div class="match-status">
                                        <p class="font-bold text-sm">
                                            <i class="fa-solid fa-coins mr-1"></i>
                                            {% if game.status == "win" %}{{ game.table.get_winner_prize|floatformat:2 }}
                                            {% else %}
                                            {{ game.table.fee|floatformat:2 }}
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="inline-pic-enemy">
                                        {% if game.user2.avatar is None %}
                                            <img src="{% versioned_static "images/profile-default.jpg" %}" alt=""
                                                 class="bg-gray-200 match-pic ml-2 mr-2">
                                        {% else %}
                                            <img src="{{ game.user2.avatar }}" alt="" class="bg-gray-200 match-pic ml-2 mr-2">
                                        {% endif %}
                                        <h4 class="font-semibold text-sm text-black dark:text-white text-right">{{ game.user2.name }}</h4>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

